<plugin name='zk-codemirror' version='0.2' grailsVersion='1.3 &gt; *'>
  <author>Chanwit Kaewkasi</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>Code Mirror</title>
  <description>\
ZK Codemirror plugin for Grails
</description>
  <documentation>http://grails.org/plugin/zk-codemirror</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>